:root {
    --base: #1C2026;
    --card-base: #D8E0F2;
    --font-color-1: #F26363;
    --font-color-2: #000000;

    --padding-n: 1rem;
    --padding-s: 0.75rem;

    --font-size: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

